<% layout('_inc/layout') -%>

<section class="view-main">
	
	<header class="masthead">
		<div class="logo">
			<img src="/img/revu-logo.png" alt="Revu Logo" />
		</div>
		<div class="pull-right">
			<small>€0.25</small>
			<a class="masthead__btn">
				<% include _inc/icons/ellipsis.svg %>
			</a>
		</div>
	</header>

</section>

