<% layout('_inc/layout') -%>

<section class="view-main">
	
	<header class="masthead">
		<div class="masthead__logo">
			<img src="/img/revu-logo.png" alt="Revu Logo" />
		</div>
		<div class="pull-right">
			<small>€0.25</small>
			<a class="masthead__btn">
				<% include _inc/icons/ellipsis.svg %>
			</a>
		</div>
	</header>

	<section class="hero"></section>

	<div class="container">

		<h5 class="h--accent">ADE: ROADTRIPPEN MET AMSTERDAM’S FINEST</h5>
		<h1 class="h--black">‘KOMT EEN COWBOY BIJ DE KAPPER…’</h1>

		<p class="p--intro">
			Amsterdam is deze week het episch centrum van de dancewereld. Meer dan tweeduizend artiesten breken in vijf dagen en nachten de tent af op 350 locaties. Amsterdam Dance Event is hét grootste clubfestival voor elektronische muziek. Elias Mazian (26) draait er voor de derde keer.
		</p>
	
	</div>
</section>

