<header class="masthead article-view-masthead">
	<div class="masthead__center">
		<div class="masthead__logo">
			<img src="www/img/revu-logo.png" alt="Revu Logo" />
		</div>
		<div class="masthead__date-tag">
			afgelopen woensdag
		</div>
	</div>
	<div class="masthead__overlay">
		<div class="masthead__action-buttons">
			<a class="masthead__btn"
			   id="js-article-view-close-btn">
				<% include icons/cross.svg %>
			</a>
			<a class="masthead__btn pin-btn" data-toggle="pin-btn--active">
				<span class="pin-btn__svg-wrapper">
					<% include icons/pin.svg %>
				</span>
			</a>
			<a class="masthead__btn masthead__btn--svg-correction hidden-sm-max"
			   data-dropdown-trigger="article-view-masthead-dropdown">
				<% include icons/ellipsis.svg %>
			</a>
			<small class="masthead__promo hidden-sm-max">
				<b>€ 0,29</b>
				<span class="hidden-lg-max"> - Niet goed? Geld terug!</span>
			</small>
		</div>
		<div class="pull-right">
			<a class="masthead__btn masthead__btn--blendle"
			   data-smooth-scroll="#article-view-footer-share-buttons">
				<% include icons/blendle.svg %>
			</a>
			<a class="masthead__btn masthead__btn--twitter hidden-sm-max"
			   data-share="twitter"
			   data-share-desc="Lees dit artikel uit Revu: ADE: Roadtrippen met Amsterdam's Finest"
			   data-share-url="http://kvendrik.github.io/blendle-test"
			   title="Delen op Twitter">
				<% include icons/twitter.svg %>
			</a>
			<a class="masthead__btn masthead__btn--facebook hidden-sm-max"
			   data-share="facebook"
			   data-share-desc="Lees dit artikel uit Revu: ADE: Roadtrippen met Amsterdam's Finest"
			   data-share-url="http://kvendrik.github.io/blendle-test"
			   title="Revu on Facebook">
				<% include icons/fb.svg %>
			</a>
			<a class="masthead__btn masthead__btn--linkedin hidden-sm-max"
			   data-share="linkedin"
			   data-share-desc="Lees dit artikel uit Revu: ADE: Roadtrippen met Amsterdam's Finest"
			   data-share-url="http://kvendrik.github.io/blendle-test"
			   title="Revu on LinkedIn">
				<% include icons/linkedin.svg %>
			</a>
			<a class="masthead__btn hidden-sm-max"
			   href="mailto:?subject=Lees dit artikel uit Revu&body=Lees dit artikel uit Revu: ADE: Roadtrippen met Amsterdam's Finest http://kvendrik.github.io/blendle-test">
				<% include icons/email.svg %>
			</a>
		</div>
	</div>

	<div class="dropdown" data-dropdown="article-view-masthead-dropdown">
		<ul class="list--clean">
			<li>
				<a class="pin-btn" data-toggle="pin-btn--active">
					<span class="pin-btn__svg-wrapper list__item__icon">
						<% include icons/pin.svg %>
					</span>
					Lees later
				</a>
			</li>
			<li>
				<a href="mailto:?subject=Lees dit artikel uit Revu&body=Lees dit artikel uit Revu: ADE: Roadtrippen met Amsterdam's Finest http://kvendrik.github.io/blendle-test">
					<span class="list__item__icon">
						<% include icons/email.svg %>
					</span>
					E-mail naar een vriend
				</a>
			</li>
			<li>
				<a data-share="facebook"
				   data-share-desc="Lees dit artikel uit Revu: ADE: Roadtrippen met Amsterdam's Finest"
				   data-share-url="http://kvendrik.github.io/blendle-test">
					<span class="list__item__icon">
						<% include icons/fb.svg %>
					</span>
					Deel via Facebook
				</a>
			</li>
			<li>
				<a data-share="twitter"
				   data-share-desc="Lees dit artikel uit Revu: ADE: Roadtrippen met Amsterdam's Finest"
				   data-share-url="http://kvendrik.github.io/blendle-test">
					<span class="list__item__icon">
						<% include icons/twitter.svg %>
					</span>
					Deel via Twitter
				</a>
			</li>
		</ul>
		<footer class="dropdown__footer">
			<table>
				<tr>
					<td>Leestijd</td>
					<td>24 minuten</td>
				</tr>
				<tr>
					<td>Datum</td>
					<td>19 januari 2016</td>
				</tr>
			</table>
		</footer>
	</div>
</header>