<header class="masthead article-view-masthead">
	<div class="masthead__center">
		<div class="masthead__logo">
			<img src="www/img/revu-logo.png" alt="Revu Logo" />
		</div>
		<div class="masthead__date-tag">
			afgelopen woensdag
		</div>
	</div>
	<div class="masthead__overlay">
		<div class="masthead__action-buttons">
			<a class="masthead__btn" id="js-article-view-close-btn">
				<% include icons/cross.svg %>
			</a>
			<a class="masthead__btn">
				<% include icons/pin.svg %>
			</a>
			<a class="masthead__btn masthead__btn--svg-correction hidden-sm-max"
			   data-dropdown-trigger="article-view-masthead-dropdown">
				<% include icons/ellipsis.svg %>
			</a>
			<small class="masthead__promo hidden-sm-max">
				<b>€ 0,29</b>
				<span class="hidden-lg-max"> - Niet goed? Geld terug!</span>
			</small>
		</div>
		<div class="pull-right hidden-sm-max">
			<a class="masthead__btn masthead__btn--blendle"
			   href="http://blendle.com" title="Revu on Blendle">
				<% include icons/blendle.svg %>
			</a>
			<a class="masthead__btn masthead__btn--twitter"
			   href="http://twitter.com" title="Revu on Twitter">
				<% include icons/twitter.svg %>
			</a>
			<a class="masthead__btn masthead__btn--facebook"
			   href="http://facebook.com" title="Revu on Facebook">
				<% include icons/fb.svg %>
			</a>
			<a class="masthead__btn masthead__btn--linkedin"
			   href="https://www.linkedin.com" title="Revu on LinkedIn">
				<% include icons/linkedin.svg %>
			</a>
			<a class="masthead__btn"
			   href="mailto:?subject=Check out this article on Blendle!">
				<% include icons/email.svg %>
			</a>
		</div>
	</div>

	<div class="dropdown" data-dropdown="article-view-masthead-dropdown">
		<ul class="list--clean">
			<li>
				<span class="list__item__icon">
					<% include icons/pin.svg %>
				</span>
				Lees later
			</li>
			<li>
				<span class="list__item__icon">
					<% include icons/email.svg %>
				</span>
				E-mail naar een vriend
			</li>
			<li>
				<span class="list__item__icon">
					<% include icons/fb.svg %>
				</span>
				Deel via Facebook
			</li>
			<li>
				<span class="list__item__icon">
					<% include icons/twitter.svg %>
				</span>
				Deel via Twitter
			</li>
		</ul>
		<footer class="dropdown__footer">
			<table>
				<tr>
					<td>Leestijd</td>
					<td>24 minuten</td>
				</tr>
				<tr>
					<td>Datum</td>
					<td>19 januari 2016</td>
				</tr>
			</table>
		</footer>
	</div>
</header>