* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: $weight-primary $size-m $family-primary;
	color: $color-base;
	line-height: $line-height-m;
	background-color: $color-grey-lightest;
}

.view-main {
	width: 100%;
	background-color: $color-white;
}

.article-wrapper {
	width: 90%;
	max-width: 620px;
	margin: 0 auto;
	overflow: hidden;
}