* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: $weight-primary $size-m $family-primary;
	color: $color-base;
	line-height: $line-height-m;
	background-color: $color-grey-lightest;
}

.text-container {
	width: 90%;
	max-width: 620px;
	
	margin: 0 auto;
	overflow: hidden;

	&.text-container--push-btm {
		padding-bottom: $spacing-xxl;

		@include screen-sm-max {
			padding-bottom: $spacing-m;
		}
	}
}