.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

@include screen-lg-max {
	.hidden-lg-max {
		display: none !important;
	}
}
@include screen-md-max {
	.hidden-md-max {
		display: none !important;
	}
}
@include screen-sm-max {
	.hidden-sm-max {
		display: none !important;
	}
}
@include screen-sm-max {
	.text-left-sm-max {
		text-align: left;
	}
}