h1,h2,h3,h5,h6 {
    font-family: $family-secondary;
    font-weight: $weight-secondary;
    line-height: $line-height-headings;
    margin-bottom: $spacing-s;

    &.h--accent {
        color: $color-accent;
    }

    &.h--black {
        font-weight: $weight-secondary-black;
    }
}

h1,.h1 {
	font-size: 2.5em;
}
h2,.h2 {
    font-size: 2.1em;
}
h3,.h3 {
    font-size: 1.7em;
}
h4,.h4 {
    font-size: 1.4em;
}
h5,.h5 {
    font-size: 1.2em;
}
h6,.h6 {
    font-size: 1em;
}

p {
    margin-bottom: $spacing-m;

    &.p--intro {
        font-size: 1.2em;
        font-family: $family-tertiary;
        font-weight: $weight-tertiary;
    }
}

a {
    color: $color-base;
    text-decoration: none;
}

small {
    font-size: $size-s;
    color: $color-grey-light;
}