.article-view, .masthead.article-view-masthead {
	display: none;
	opacity: 0;

	background-color: $color-white;

	.article-view--block & {
		display: block;
	}
}

.article-view {
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;

	transform: translateY(10vh);

	@include transition((opacity, transform), $transition-duration-alt);

	.article-view--visible & {
		opacity: 1;
		transform: translateY(0);
	}
}

.masthead.article-view-masthead {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	@include transition(opacity, $transition-duration-alt);

	.article-view--visible & {
		opacity: 1;
	}

	.dropdown {
		position: fixed;
		top: 60px;
		left: 95px;
		z-index: 3;

		text-align: left;
		line-height: $line-height-m;

		&:before, &:after {
			right: 0;
			left: $spacing-m;
		}
	}
}