.masthead {
	height: 48px;
	line-height: 48px;
	text-align: center;

	&__logo {
		box-sizing: content-box;
		display: inline-block;

		width: 110px;
		padding-left: 0;

		img {
			width: 100%;
		}
	}

	&__meta {
		display: inline-block;
		font-size: $size-xxs;
		
		background-color: $color-white;
		line-height: $line-height-m;

		padding: $spacing-s $spacing-m;
		border-radius: 3px;
	}

	&__promo {
		margin-left: $spacing-xs;
		margin-right: $spacing-m;
		
		color: $color-grey-light;
		float: none;
		
		position: relative;
		top: -2px;
	}

	&__action-buttons {
		float: left;

		.masthead__btn:first-child {
			border-left: none;
		}
	}
	
	&__btn {
		height: 100%;
		width: 48px;

		line-height: 48px;
		display: block;
		float: left;

		cursor: pointer;

		text-align: center;
		@include border(left);

		@include transition(background-color);

		path, ellipse {
			fill: $color-grey-light;
			@include transition(fill);
		}

		&.masthead__btn--svg-correction {
			svg {
				position: relative;
				top: -4px;
			}
		}

		&:hover {
			path, ellipse {
				fill: $color-base;
			}
		}

		@each $name, $color in $colors-social {
			&.masthead__btn--#{$name}:hover {
				background-color: $color;

				path, ellipse {
					fill: $color-white;
				}
			}
		}
	}

}