//CONTAINER
$xs-container-width: 90%;


//COLORS
$color-base: #000;
$color-white: #fff;

$color-accent: #CE242D;
$color-accent-alt: #F64F2C;

$color-grey-light: #948784;
$color-grey-lighter: #EAEAEA;
$color-grey-lightest: #F4F4F4;


//TYPOGRAPHY
$family-primary: 'Lato', Helvetica, Arial, sans-serif;
$family-secondary: 'proxima-nova', $family-primary;
$family-tertiary: 'Alegreya Sans', $family-primary;
$family-fourth: 'Crimson Text', $family-primary;

$weight-primary: 400;
$weight-secondary: 700;
$weight-secondary-black: 900;

$weight-tertiary: 500;
$weight-tertiary-bold: 700;
$weight-tertiary-extrabold: 800;

$weight-fourth: 400;
$weight-fourth-semibold: 700;

$line-height-m: 1.5em;
$line-height-s: 1.3em;
$line-height-xs: 1.07em;

$size-xxs: .5em;
$size-xs: .7em;
$size-s: .8em;
$size-m: 20px;


//SPACING
$spacing-xs: .3em;
$spacing-s: .5em;
$spacing-m: 1em;
$spacing-l: 2em;
$spacing-xl: 2.5em;


//BORDERS
$border-style: solid;
$border-width: 1px;
$border-radius: 3px;


//ANIMATIONS
$transition-duration: .3s;
$transition-timing: ease;


//FONTS
$fonts-path: '/fonts/';