.btn-social {
	padding: $spacing-s $spacing-l;
	margin-bottom: $spacing-s;
	
	background-color: $color-accent-alt;
	border-radius: $border-radius;
	
	display: inline-block;
	cursor: pointer;

	@include transition(opacity);

	&:hover {
		opacity: .9;
	}

	@each $name, $color in $colors-social {
		&.btn-social--#{$name} {
			background-color: $color;
		}
	}

	svg {
		transform: scale(1.2);
	}

	path {
		fill: $color-white;
	}
}

.pin-btn {
	display: inline-block;

	path {
		@include transition(fill);
	}

	&__svg-wrapper {
		display: inline-block;
		@include transition(transform, .2s, $delay: .08s);
	}

	&.pin-btn--active {
		.pin-btn__svg-wrapper {
			transform: rotate(-45deg);
		}

		svg {
			animation: scale-and-bounce .4s cubic-bezier(.16,.88,.92,.54);
			animation-fill-mode: forwards;
		}

		&:hover path {
			fill: $color-accent-alt-2;
		}

		path {
			fill: $color-accent-alt-2;
		}
	}
}

@keyframes scale-and-bounce {
	20% {
		transform: scale(1.3);
	}
	50% {
		transform: scale(1.3);
	}
	80% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}