figure {
	width: 100%;
	overflow: hidden;
	margin-bottom: $spacing-m;

	img {
		width: 100%;
		margin-bottom: $spacing-xs;
		cursor: zoom-in;
	}

	figcaption {
		text-align: right;
		float: right;

		font-family: $family-fifth;
		font-weight: $weight-fifth;
		font-size: $size-xxs;

		color: $color-grey-light;
		line-height: 1em;
	}
}