.list--inline {
	display: inline-block;

	li {
		display: block;
		float: left;
		margin-right: $spacing-s;

		&:last-child {
			margin-right: 0;
		}
	}
}

.list--clean {
	li {
		display: block;
	}
}

li .list__item__icon {
	display: inline-block;
	position: relative;
	top: 3px;
	margin-right: $spacing-s;
}