.tag {
	font-size: $size-xxs;
	color: $color-grey;
	padding: $spacing-xs $spacing-s;

	@include border($color: $color-grey);
	border-radius: $border-radius;

	@include transition((background-color, color));
	cursor: pointer;

	&:hover {
		background-color: $color-base;
		color: $color-white;
	}
}