.article-card {
	width: 100%;
	max-width: 372px;
	margin: $spacing-xl auto;

	&__info, &__preview {
		background-color: $color-white;
	}

	&__info {
		width: 96%;
		margin: 0 auto;
		overflow: hidden;

		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		
		box-shadow: 0 1px 2px rgba($color-base, .07);

		&__meta, &__quote {
			overflow: hidden;
		}

		&__meta {
			padding: $spacing-s $spacing-m;
			padding-bottom: 0;
			@include border(bottom, $color-grey-lighter-2);

			&__tag-wrapper {
				padding-bottom: $spacing-xs;
				@include border(bottom, $color-base, 2px);
			}
		}

		&__quote {
			padding: $spacing-s $spacing-m;

			blockquote {
				font-size: $size-xs;
				font-style: normal;
				line-height: $line-height-m;
			}

			&__cite {
				color: $color-grey-light;
				display: block;
				@include transition(color);

				&:hover {
					color: $color-base;
				}
			}
		}
	}

	&__preview {
		height: 629px;
		position: relative;

		overflow: hidden;
		box-shadow: 0 1px 3px rgba($color-base, .09);

		cursor: pointer;

		&:after {
			content: '';
			height: 100px;

			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(transparent, $color-white);
		}

		.masthead {
			text-align: left;

			&__logo {
				width: 72px;
				padding-left: $spacing-s;
				float: left;
			}

			&__promo {
				float: left;
				top: 0;
			}

			&__action-buttons {
				float: right;

				.masthead__btn:first-child {
					@include border(left);
				}
			}
		}

		.dropdown {
			position: absolute;
			top: 60px;
			right: 10px;
		}

		.hero {
			height: 200px;
			margin-bottom: $spacing-m;
		}
	}
}