.dropdown {
	width: 260px;
	background-color: $color-white;

	border-radius: $border-radius;
	@include border();
	box-shadow: 0 1px 6px rgba($color-base, .2);

	display: none;

	opacity: 0;
	transform: translateY(-10px);
	@include transition((opacity, transform), $transition-duration-alt);

	&.dropdown--block {
		display: block;
	}

	&.dropdown--visible {
		opacity: 1;
		transform: translateY(0px);
	}

	a {
		font-size: $size-xs;
		padding: $spacing-s $spacing-m;
		
		@include border(bottom);
		color: $color-grey-light;

		display: block;
		cursor: pointer;

		@include transition((color, background-color));

		path, ellipse {
			fill: $color-grey-light;
			@include transition(fill);
		}

		&:hover {
			background-color: $color-grey-lightest;
			color: $color-grey !important;

			path, ellipse {
				fill: $color-grey;
			}
		}
	}

	&:before, &:after {
		content: '';

		position: absolute;
		top: -5px;
		right: $spacing-s;
		z-index: 1;

		width: 0;
		height: 0;

		border-left: 5px solid transparent;
		border-right: 5px solid transparent;	
		border-bottom: 5px solid $color-white;
	}

	&:after {
		top: -6px;
		border-bottom: 5px solid $color-grey-lightest;
		z-index: 0;
	}

	&__footer {
		font-size: $size-xxs;
		color: $color-grey;
		
		padding: $spacing-m $spacing-m;
		background-color: $color-grey-lightest-2;

		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		td {
			line-height: $line-height-m;

			&:first-child {
				color: $color-grey-light;
				padding-right: $spacing-s;
			}
		}
	}
}